<!DOCTYPE html>
<html>
  <head>
    <title>Neema's First Rail Blog!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1> Welcome to Neema's Rails Blog App! </h1>
  	<%= render 'shared/nav' %>
    <%= yield %>
  </body>
</html>
